.movie-card {
  list-style: none;
  background-color: #222;
}

.movie-card__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.movie-card__info {
  margin: 14px 0 10px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}

.movie-card__name {
  margin: 0;
  padding: 0;
  max-width: 206px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  flex-basis: 206px;
}

.movies-card__like {
  box-sizing: border-box;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.movies-card__like_active {
  background-color: #2be080;
}

.movies-card__like_delete {
  background-image: url('../../images/delete.svg');
  background-color: transparent;
  border: none;
  background-position: center;
}

.movie-card__duration {
  margin: 0;
  padding: 0 0 14px 12px;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  font-weight: 400;
  color: #8b8b8b;
}
