.search {
  padding: 70px 70px 48px;
  display: flex;
}

.search__container {
  margin: 0 auto;
  width: 1140px;
}

.search-form {
  position: relative;
  text-align: left;
}

.search-form__input {
  margin: 0;
  padding: 13px 3px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #424242;
  background-color: transparent;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  cursor: pointer;
  color: #8B8B8B;    
}

 .search-form__input::placeholder {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}

.search-form__input:focus {
  border: 1px solid #8B8B8B;
  outline: 1px #b6b6b6 solid;
  border-radius: 8px;
}

input::placeholder {
  font-size: 28px;
  font-weight: 500;
} 

.search-form__button{
  height: 34px;
  width: 34px;
  border: none;  
  position: absolute;
  top: 13px;
  right: 3px;
  display: block;
  background-image: url('../../images/find.svg');
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;  
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.search-form__button:hover {
  opacity: 0.7;
}

.search-form__error-message {
  padding-top: 6px;
  font-size: 10px;
  font-weight: 400;
  color: #ee3465;
  line-height: 12px;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 65px 30px 61px;
  }
}

@media screen and (max-width: 600px) {

  .search {
    padding: 75px 14px 51px;
  }
  .search-form__input {
    padding: 15px 3px;
    font-size: 18px;
    line-height: 22px;    
  }

  .search-form__input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__button{
    top: 9px;
  }
} 
