.portfolio {
  padding: 100px 70px 125px;
}

.portfolio__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8B8B8B;
}

.portfolio__list {
  padding: 50px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.portfolio__item {
  width: 100%;
  padding-bottom: 19px;
  border-bottom: solid 1px #424242;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-decoration: none;
  color: #fff;
  background-image: url("../../../images/arrow_profile.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 18px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
 
.portfolio__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 91px 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    padding: 40px 0 0 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    background-size: 10px 10px;
  }
}