.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__container {
  padding: 0 30px;
  margin: 70px auto;
  width: 396px;
}

@media screen and (max-width: 786px) {
  .register__container {
    margin-top: 232px;
  }
}

@media screen and (max-width: 600px) {
  .register {
    padding-top: 56px;
    text-align: center;
  }

  .register__container {
    margin: 0 auto 30px;
    text-align: center;
    max-width: calc(100% - 60px);
  }
}
