/* 



.promo__text {
  max-width: 640px;
}

.promo__title {
  margin: 0;
  text-align: left;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
}

.promo__description {
  max-width: 310px;
  padding: 0;
  margin: 36px 0 146px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;  
}

.promo__link {
  margin-top:10px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none ;
  border: 1px solid rgba(255, 255, 255, .5);
  background-color: transparent;
  color: #FFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.promo__link:hover {
  opacity: 0.8;
}

.promo__image {
  max-width: 310px;
  max-height: 304px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  .promo {
    padding: 140px 30px 76px;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    max-width: 680px;
    margin: 48px 0 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;    
  }

  .promo__description {
    margin: 22px 0 0;
    text-align: center;
  }

  .promo__link {
    margin: 92px 0 0px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    padding: 70px 10px 30px;
  }

  .promo__img {
    max-width: 210px;
    max-height: 206px;
  }

  .promo__title {
    margin: 44px 0 0;
    font-size: 28px;
    line-height: 38px;
  }

  .promo__description {
    margin: 24px 0 80px;
    max-width: 260px;
  }
} */

.promo {
  padding: 75px 70px 85px;
  display: flex;
  justify-content: center;
  background-color: #073042;
}

.promo__container {
  width: 1140px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;    
}

.promo__text {
  max-width: 640px;
}

.promo__title {
  margin: 0;
  text-align: left;
  color: #FFF;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;  
}

.promo__description {
  max-width: 310px;
  margin: 36px 0 146px 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;  
}

.promo__link {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none ;
  border: 1px solid rgba(255, 255, 255, .5);
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.promo__link:hover {
  opacity: 0.8;
}

.promo__image {
  max-width: 310px;
  max-height: 304px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .promo__container {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .promo {
    padding: 140px 30px 76px;
  }

  .promo__container {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__text {  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    margin: 48px 0 0;
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;    
  }

  .promo__description {
    margin: 22px 0 0;
    text-align: center;
  }

  .promo__link {
    margin: 92px 0 0px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    padding: 70px 10px 30px;
  }

  .promo__img {
    max-width: 210px;
    max-height: 206px;
  }

  .promo__title {
    margin: 44px 0 0;
    font-size: 28px;
    line-height: 38px;
  }

  .promo__description {
    margin: 24px 0 80;
    max-width: 260px;
  }
}
