@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./components/Body/body.css);

@import url(./components/App/App.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Header/Header.css);
@import url(./components/NotFound/NotFound.css);

@import url(./components/Main/Promo/Promo.css);
@import url(./components/Main/AboutProject/AboutProject.css);
@import url(./components/Main/Techs/Techs.css);
@import url(./components/Main/AboutMe/AboutMe.css);
@import url(./components/Main/Portfolio/Portfolio.css);

@import url(./components/Movies/Movies.css);
@import url(./components/Movies/MoviesCardList/MoviesCardList.css);
@import url(./components/Movies/MoviesCard/MoviesCard.css);
